<div class="sidebar-card">
    <div class="flex justify-center">
        <h3>Forecast</h3>
    </div>
    <div class="flex justify-between px-5">
        <div class="flex flex-col items-center gap-2">
            <div class="text-sm">
                <p>Mon</p>
            </div>
            <div>
                <img
                    ngSrc="../../../assets/icons/partly-cloudy-1.svg"
                    height="48"
                    width="48"
                />
            </div>
            <div class="text-sm">
                <p>22 °C</p>
                <p>5 mm</p>
            </div>
        </div>
        <div class="flex flex-col items-center gap-2">
            <div class="text-sm">
                <p>Tue</p>
            </div>
            <div>
                <img
                    ngSrc="../../../assets/icons/partly-cloudy-1.svg"
                    height="48"
                    width="48"
                />
            </div>
            <div class="text-sm">
                <p>25 °C</p>
                <p>0 mm</p>
            </div>
        </div>
        <div class="flex flex-col items-center gap-2">
            <div class="text-sm">
                <p>Wed</p>
            </div>
            <div>
                <img
                    ngSrc="../../../assets/icons/partly-cloudy-1.svg"
                    height="48"
                    width="48"
                />
            </div>
            <div class="text-sm">
                <p>26 °C</p>
                <p>0 mm</p>
            </div>
        </div>
    </div>
</div>
