<div class="sidebar-card">
    <div class="flex justify-center">
        <h3>Forecast</h3>
    </div>
    <div class="flex justify-between px-5">
        <div
            *ngFor="let forecastDay of forecastWeather()"
            class="flex flex-col items-center gap-2"
        >
            <div class="text-sm">
                <p>{{ getDayOfWeek(forecastDay.date) }}</p>
            </div>
            <div>
                <img
                    [ngSrc]="
                        '../../../assets/icons/weather/' +
                        getConditionIcon(forecastDay.day.condition.code) +
                        '.svg'
                    "
                    height="48"
                    width="48"
                />
            </div>
            <div class="flex flex-col text-center text-sm">
                <p>
                    {{ createRoundedTemperature(forecastDay.day.maxTemp) }} °C
                </p>
                <p>
                    {{ createRoundedTemperature(forecastDay.day.minTemp) }} °C
                </p>
                <p>
                    {{
                        createRoundedTemperature(
                            forecastDay.day.totalPrecipitation
                        )
                    }}
                    mm
                </p>
            </div>
        </div>
    </div>
</div>
