<div class="sidebar-card">
    <div class="flex flex-col gap-3 px-3">
        <div class="flex justify-center">
            <h3 class="text-xl">
                {{ currentWeather()?.condition?.text ?? '-' }}
            </h3>
        </div>
        <div class="flex items-center justify-center gap-6">
            <div>
                <img
                    *ngIf="conditionIconPath() !== ''"
                    [ngSrc]="
                        '../../../assets/icons/' + conditionIconPath() + '.svg'
                    "
                    height="56"
                    width="56"
                    alt="condition"
                />
            </div>
            <div>
                <h1 class="text-5xl">{{ roundedTemperature() ?? '-' }} °C</h1>
            </div>
        </div>
        <div class="flex justify-between gap-3 py-1 text-16">
            <div class="flex flex-col">
                <div class="flex items-center gap-3">
                    <div>
                        <img
                            ngSrc="../../../assets/icons/wind.svg"
                            height="20"
                            width="20"
                            alt="wind speed and direction"
                        />
                    </div>
                    <div>
                        <span>{{ windString() }}</span>
                    </div>
                </div>
                <div class="flex items-center gap-3">
                    <div>
                        <img
                            ngSrc="../../../assets/icons/compass-n.svg"
                            height="20"
                            width="20"
                            alt="pressure"
                        />
                    </div>
                    <div>
                        <span>{{ currentWeather()?.pressure ?? '-' }} hPa</span>
                    </div>
                </div>
            </div>
            <div class="flex flex-col">
                <div class="flex items-center gap-3">
                    <div>
                        <img
                            ngSrc="../../../assets/icons/drop-percentage.svg"
                            height="20"
                            width="20"
                            alt="humidity"
                        />
                    </div>
                    <div>
                        <span>{{ currentWeather()?.humidity ?? '-' }}%</span>
                    </div>
                </div>
                <div class="flex items-center gap-3">
                    <div>
                        <img
                            ngSrc="../../../assets/icons/drops.svg"
                            height="20"
                            width="20"
                            alt="precipitation"
                        />
                    </div>
                    <div>
                        <span
                            >{{
                                currentWeather()?.precipitation ?? '-'
                            }}
                            mm</span
                        >
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
