<div class="sidebar-card">
    <div class="flex flex-col gap-3 px-3">
        <div class="flex justify-center">
            <h3 class="text-xl">Broken clouds</h3>
        </div>
        <div class="flex items-center justify-center gap-6">
            <div>
                <img
                    ngSrc="assets/icons/partly-cloudy-1.svg"
                    height="56"
                    width="56"
                />
            </div>
            <div>
                <h1 class="text-5xl">23 °C</h1>
            </div>
        </div>
        <div class="flex justify-between gap-3 py-1 text-16">
            <div class="flex flex-col">
                <div class="flex items-center gap-3">
                    <div>
                        <img
                            ngSrc="assets/icons/wind.svg"
                            height="20"
                            width="20"
                        />
                    </div>
                    <div>
                        <span>10 km/h NNE</span>
                    </div>
                </div>
                <div class="flex items-center gap-3">
                    <div>
                        <img
                            ngSrc="assets/icons/compass-n.svg"
                            height="20"
                            width="20"
                        />
                    </div>
                    <div>
                        <span>1013 hPa</span>
                    </div>
                </div>
            </div>
            <div class="flex flex-col">
                <div class="flex items-center gap-3">
                    <div>
                        <img
                            ngSrc="assets/icons/drop-percentage.svg"
                            height="20"
                            width="20"
                        />
                    </div>
                    <div>
                        <span>75%</span>
                    </div>
                </div>
                <div class="flex items-center gap-3">
                    <div>
                        <img
                            ngSrc="assets/icons/drops.svg"
                            height="20"
                            width="20"
                        />
                    </div>
                    <div>
                        <span>0 mm</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
