<div class="sidebar-card">
    <div class="flex justify-center">
        <h3>Alerts</h3>
    </div>
    <div class="flex items-center gap-6">
        <div>
            <img
                class="stroke-yellow-400"
                ngSrc="../../../assets/icons/mix-rainfall-2.svg"
                height="42"
                width="42"
            />
        </div>
        <div class="flex flex-col">
            <div>
                <p>Thunderstorm</p>
            </div>
            <div>
                <p>Valid until: 17/08 17:00</p>
            </div>
        </div>
    </div>
</div>
